<mat-card>
  <h1 mat-dialog-title align="center">{{data.palabra}}</h1>
</mat-card>
<br>
<div mat-dialog-content>
  <!-- Edit nivel y lección -->
  <mat-form-field>
    <mat-select placeholder="Nivel y lección" [formControl]="levelControl" required (selectionChange)="data.nivel = levelControl.value?.level"
      (selectionChange)="data.leccion = levelControl.value?.lesson">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let level_lesson of levels_lessons" [value]="level_lesson">
        {{level_lesson.lesson}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="levelControl.hasError('required')">Por favor elija un nivel y lección</mat-error>
    <mat-hint>{{levelControl.value?.level}}</mat-hint>
  </mat-form-field>
  <br>
  <!-- Edit video -->
  <div>
    <input style="display: none" type="file" (change)="onFileVideo($event)" #fileInput1 accept="video/mp4">
    <button mat-button color="primary" matTooltip="Cargar video" matTooltipPosition="right" (click)="fileInput1.click()">
      <mat-icon>play_circle_filled</mat-icon>
      {{mediaWord.videoName}}
    </button>
    <button mat-button *ngIf="mediaWord.videoName" matSuffix mat-icon-button aria-label="Clear" (click)="closeVideo()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br>
  <!-- Edit picure -->
  <div>
    <input style="display: none" type="file" (change)="onFilePicture($event)" #fileInput2 accept="image/jpeg">
    <button mat-button color="primary" matTooltip="Cargar imagen" matTooltipPosition="right" (click)="fileInput2.click()">
      <mat-icon>photo</mat-icon>
      {{mediaWord.pictureName}}
    </button>
    <button mat-button *ngIf="mediaWord.pictureName" matSuffix mat-icon-button aria-label="Clear" (click)="closePicture()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <div *ngIf="validar( data ); else elseBlock">
    <button mat-raised-button (click)="addFiles( data );" [mat-dialog-close]="data" cdkFocusInitial>
      Actualizar
    </button>
  </div>
  <ng-template #elseBlock>
    <button mat-raised-button disabled>Actualizar</button>
  </ng-template>
</div>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
