<mat-card>
  <h1 mat-dialog-title align="center">{{data.palabra}}</h1>
</mat-card>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <video width="300" controls autoplay loop>
        <source src="{{data.videoURL}}" type="video/mp4"> Video no soportado por su navegardor.
      </video>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{data.pictureURL}}" alt="Imagen no encontrada." width="300px">
    </mat-grid-tile>
  </mat-grid-list>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="warn" [mat-dialog-close] cdkFocusInitial>Cerrar</button>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
