.header {
  position: sticky;
  top: 0;
  color: #ffffff;
  background: #242b32;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 120px;
  color: #ffffff;
  background: #322b24;
  clear: both;
}

.spacer {
  flex: 1 1 auto;
}

